.z-table {
    width: 100%;
    border-collapse: collapse;
}

.z-table th {
    font-weight: 500;
}

.z-table th,
.z-table td {
    text-align: left;
    border-bottom: 1px solid var(--z-input-border);
    padding: 6px 12px;
}

.z-keyval {
    display: flex;
    align-items: center;
}

.z-keyval > :first-child {
    font-weight: 500;
    padding-right: 12px;
    width: 120px;
    flex-grow: 0;
    flex-shrink: 0;
}
